#!/bin/bash

# This file is valid Bash script included in main script. To split configuration and logic and make merge easier.
# !!! Keep it sorted with command: tail -n +13 deploy-main.config | env LC_COLLATE='en_US.UTF-8' sort > deploy-main.config.sorted
# Use single quotes for constants, e.g.: some_var='text', some_var='5', some_var='true'
# Use double qoutes if value contains other variable(s) and text, e.g.: some_var="https://${domain_name}:${port_number}/api"
# Don't use quotes if one valiable is just set to another variable's value, e.g.: some_var=$some_other_var

this_file_dir=$( cd "$( dirname "${BASH_SOURCE[0]}" )" && pwd )
. $this_file_dir/deploy-main-creds.config

# ========= UNSORTED HEADER END =========

main_common_domain_name_server='piaralite-ws.piaratestsandbox.net'          # domain name used to access Server directly, not through the route in Webapp url
main_common_domain_name_webapp='piaralite.piaratestsandbox.net'          # domain name which is used for Webapp

main_servercommon_main_email_enabled='false'
main_servercommon_main_notifynewstixassigneesviawickr='false'
main_servercommon_main_notifynewstixassigneesviazulip='false'
main_servercommon_main_translationservices_bing_region=''
main_servercommon_main_translationservices_segmentationcharacters_ar='[ "!", ":", "," ]'
main_servercommon_main_translationservices_segmentationcharacters_es='[ "!", ":", "," ]'
main_servercommon_main_translationservices_segmentationcharacters_fa='[ "!", ":", "," ]'
main_servercommon_main_translationservices_segmentationcharacters_id='[ "!", ":", "," ]'
main_servercommon_main_translationservices_segmentationcharacters_pt='[ "!", ":", "," ]'
main_servercommon_main_translationservices_segmentationcharacters_ru='[ "!", ":", "," ]'
main_servercommon_main_translationservices_segmentationcharacters_vi='[ "!", ":", "," ]'
main_servercommon_main_translationservices_segmentationcharacters_zh='[ "!", ":", "," ]'
main_servercommon_main_wickr_enabled='false'
main_servercommon_main_zulipsettings_enabled='false'
