#!/bin/bash

# This file is valid Bash script included in main script. To split configuration and logic and make merge easier.
# !!! Keep it sorted with command: tail -n +15 deploy.config | env LC_COLLATE='en_US.UTF-8' sort > deploy.config.sorted
# Use single quotes for constants, e.g.: some_var='text', some_var='5', some_var='true'
# Use double qoutes if value contains other variable(s) and text, e.g.: some_var="https://${domain_name}:${port_number}/api"
# Don't use quotes if one valiable is just set to another variable's value, e.g.: some_var=$some_other_var
# Don't use variables of the same config file in the right side of assignment statement, only reference variables that were set in imported config files (because otherwise they may not be initialized in the moment of use).

this_file_dir=$( cd "$( dirname "${BASH_SOURCE[0]}" )" && pwd )
. $this_file_dir/deploy-main.config
. $this_file_dir/deploy-images.config

# ========= UNSORTED HEADER END =========

export PIARA_ARANGODBENV_ARANGO_ROOT_PASSWORD=$main_creds_arangodb_root_password
export PIARA_ARANGODBENV_ARANGODB_OVERRIDE_DETECTED_TOTAL_MEMORY='4096M'

export PIARA_COMMON_CONTEXT_SERVER='/meridian'
export PIARA_COMMON_DOMAIN_NAME_SERVER=$main_common_domain_name_server
export PIARA_COMMON_DOMAIN_NAME_WEBAPP=$main_common_domain_name_webapp
export PIARA_COMMON_NETWORK_NAME='piara'
export PIARA_COMMON_STACK_NAME='piara-back'

export PIARA_DBENV_POSTGRES_PASSWORD=$main_creds_server_db_password
export PIARA_DBENV_POSTGRES_USER=$main_creds_server_db_username

export PIARA_ESENV_ELASTIC_PASSWORD=$main_creds_server_es_basic_password
export PIARA_ESENV_ES_JAVA_OPTS='-Xmx4g -Xms4g'

export PIARA_KAFKAENV_ALLOW_PLAINTEXT_LISTENER='yes'
export PIARA_KAFKAENV_KAFKA_ADVERTISED_LISTENERS='PLAINTEXT://back-kafka:9092'
export PIARA_KAFKAENV_KAFKA_AUTO_CREATE_TOPICS_ENABLE='true'
export PIARA_KAFKAENV_KAFKA_LISTENERS='PLAINTEXT://:9092'
export PIARA_KAFKAENV_KAFKA_NUM_PARTITIONS='60'
export PIARA_KAFKAENV_KAFKA_ZOOKEEPER_CONNECT='back-zoo:2181'

export PIARA_REDISENV_REDIS_PASSWORD=$main_creds_redis_password

export PIARA_SERVERCOMMONENV_Abp__RedisCache__ConnectionString="back-redis:6379,syncTimeout=30000,password=${main_creds_redis_password}"
export PIARA_SERVERCOMMONENV_App__CorsOrigins="http://localhost,http://localhost:5555,http://localhost:4200,http://localhost:4201,http://localhost:4202,http://localhost:4203,http://localhost:4204,http://localhost:4205,https://${main_common_domain_name_webapp},https://${main_common_domain_name_server}"
export PIARA_SERVERCOMMONENV_App__PathBase='/meridian'
export PIARA_SERVERCOMMONENV_Authentication__JwtBearer__SecurityKey=$main_creds_server_token_secret
export PIARA_SERVERCOMMONENV_ConnectionStrings__Default="User ID=${main_creds_server_db_username};Password=${main_creds_server_db_password};Host=back-db;Port=5432;Database=meridian;Pooling=true;MaxPoolSize=300;CommandTimeout=1000;"
export PIARA_SERVERCOMMONENV_Main__ArangoDbSettings__ConnectionString="Server=http://back-arangodb:8529;User=root;Password=${main_creds_arangodb_root_password};"
export PIARA_SERVERCOMMONENV_Main__DB__EncryptionKey=$main_creds_server_db_encryptionkey
export PIARA_SERVERCOMMONENV_Main__DefaultAdminPassword=$main_creds_server_defaultadmin_password
export PIARA_SERVERCOMMONENV_Main__DefaultAdminUsername=$main_creds_server_defaultadmin_username
export PIARA_SERVERCOMMONENV_Main__Email__Address=$main_creds_server_email_address
export PIARA_SERVERCOMMONENV_Main__Email__Enabled=$main_servercommon_main_email_enabled
export PIARA_SERVERCOMMONENV_Main__Email__OutgoingPort=$main_creds_server_email_port
export PIARA_SERVERCOMMONENV_Main__Email__OutgoingServer=$main_creds_server_email_server
export PIARA_SERVERCOMMONENV_Main__Email__Password=$main_creds_server_email_password
export PIARA_SERVERCOMMONENV_Main__EsSettings__Authentication__Basic__Password=$main_creds_server_es_basic_password
export PIARA_SERVERCOMMONENV_Main__EsSettings__Authentication__Basic__Username=$main_creds_server_es_basic_username
export PIARA_SERVERCOMMONENV_Main__Licensing__Key=$main_creds_server_main_licensing_key
export PIARA_SERVERCOMMONENV_Main__NotificationSettings__NotifyNewStixAssigneesViaWickr=$main_servercommon_main_notifynewstixassigneesviawickr
export PIARA_SERVERCOMMONENV_Main__NotificationSettings__NotifyNewStixAssigneesViaZulip=$main_servercommon_main_notifynewstixassigneesviazulip
export PIARA_SERVERCOMMONENV_Main__StixMetadata__identity=$main_creds_server_identity_id
export PIARA_SERVERCOMMONENV_Main__StixMetadata__markingDefinition=$main_creds_server_marking_definition_id
export PIARA_SERVERCOMMONENV_Main__Taxii__apiRoot__url="https://${main_common_domain_name_server}/api/meridian-taxii"
export PIARA_SERVERCOMMONENV_Main__Taxii__apiRoot2_1__url="https://${main_common_domain_name_server}/api/piara-taxii2-1"
export PIARA_SERVERCOMMONENV_Main__TranslationServices__Bing__Key=$main_creds_server_main_translationservices_bing_key
export PIARA_SERVERCOMMONENV_Main__TranslationServices__Bing__Region=$main_servercommon_main_translationservices_bing_region
export PIARA_SERVERCOMMONENV_Main__TranslationServices__SegmentationCharacters__Ar=$main_servercommon_main_translationservices_segmentationcharacters_ar
export PIARA_SERVERCOMMONENV_Main__TranslationServices__SegmentationCharacters__Es=$main_servercommon_main_translationservices_segmentationcharacters_es
export PIARA_SERVERCOMMONENV_Main__TranslationServices__SegmentationCharacters__Fa=$main_servercommon_main_translationservices_segmentationcharacters_fa
export PIARA_SERVERCOMMONENV_Main__TranslationServices__SegmentationCharacters__Id=$main_servercommon_main_translationservices_segmentationcharacters_id
export PIARA_SERVERCOMMONENV_Main__TranslationServices__SegmentationCharacters__Pt=$main_servercommon_main_translationservices_segmentationcharacters_pt
export PIARA_SERVERCOMMONENV_Main__TranslationServices__SegmentationCharacters__Ru=$main_servercommon_main_translationservices_segmentationcharacters_ru
export PIARA_SERVERCOMMONENV_Main__TranslationServices__SegmentationCharacters__Vi=$main_servercommon_main_translationservices_segmentationcharacters_vi
export PIARA_SERVERCOMMONENV_Main__TranslationServices__SegmentationCharacters__Zh=$main_servercommon_main_translationservices_segmentationcharacters_zh
export PIARA_SERVERCOMMONENV_Main__TranslationServices__Systran9__Key=$main_creds_server_main_translationservices_systran9_key
export PIARA_SERVERCOMMONENV_Main__TranslationServices__Systran9__Url=$main_creds_server_main_translationservices_systran9_url
export PIARA_SERVERCOMMONENV_Main__Wickr__Address=$main_creds_server_wickr_address
export PIARA_SERVERCOMMONENV_Main__Wickr__ApiKey=$main_creds_server_wickr_apikey
export PIARA_SERVERCOMMONENV_Main__Wickr__Enabled=$main_servercommon_main_wickr_enabled
export PIARA_SERVERCOMMONENV_Main__Wickr__Token=$main_creds_server_wickr_token
export PIARA_SERVERCOMMONENV_Main__ZulipSettings__botApiKey=$main_creds_server_zulip_bot_apikey
export PIARA_SERVERCOMMONENV_Main__ZulipSettings__botEmail=$main_creds_server_zulip_bot_email
export PIARA_SERVERCOMMONENV_Main__ZulipSettings__domain=$main_creds_server_zulip_domain
export PIARA_SERVERCOMMONENV_Main__ZulipSettings__enabled=$main_servercommon_main_zulipsettings_enabled

export PIARA_SERVERCOREENV_Main__Hangfire__Enabled='true'
export PIARA_SERVERCOREENV_Main__Hangfire__ProcessUsersBackgroundJobs='true'
export PIARA_SERVERCOREENV_Main__Workers__Indexation__Enabled='true'
export PIARA_SERVERCOREENV_Main__Workers__PushStixObjects__Enabled='true'

export PIARA_SERVERMAINTENANCEENV_Main__Hangfire__Enabled='true'
export PIARA_SERVERMAINTENANCEENV_Main__Hangfire__SendToIndexationJobsWorkerCount='1'
export PIARA_SERVERMAINTENANCEENV_Main__RunDbMigrations='true'
export PIARA_SERVERMAINTENANCEENV_Main__Workers__ClearAlerts__Enabled='true'
export PIARA_SERVERMAINTENANCEENV_Main__Workers__ClearReports__Enabled='true'
export PIARA_SERVERMAINTENANCEENV_Main__Workers__DbCleanUp__Enabled='true'
export PIARA_SERVERMAINTENANCEENV_Main__Workers__NotifyAlerts__Enabled='true'
export PIARA_SERVERMAINTENANCEENV_Main__Workers__RefreshCache__Enabled='true'
export PIARA_SERVERMAINTENANCEENV_Main__Workers__RefreshForeignMeridians__Enabled='true'

export PIARA_ZOOENV_ALLOW_ANONYMOUS_LOGIN='yes'
