# This file is valid Bash script included in main script. To split configuration and logic and make merge easier.

# === IMAGES VARIABLES START ===
export PIARA_COMMON_IMAGES_SERVER_NAME='piaralite/piara-server'
export PIARA_COMMON_IMAGES_SERVER_TAG='deploy-18.0-compatible'
# === IMAGES VARIABLES END ===
