# This file is valid Bash script included in main script. To split configuration and logic and make merge easier.

# === IMAGES VARIABLES START ===
export PIARA_COMMON_IMAGES_ADMIN_NAME='piaralite/piara-admin'
export PIARA_COMMON_IMAGES_ADMIN_TAG='deploy-18.2-compatible'
export PIARA_COMMON_IMAGES_WEBAPP_NAME='piaralite/piara-webapp'
export PIARA_COMMON_IMAGES_WEBAPP_TAG='deploy-18.2-compatible'
# === IMAGES VARIABLES END ===
