#!/bin/bash

# This file is valid Bash script included in main script. To split configuration and logic and make merge easier.
# !!! Keep it sorted with command: tail -n +14 deploy.config | env LC_COLLATE='en_US.UTF-8' sort > deploy.config.sorted
# Use single quotes for constants, e.g.: some_var='text', some_var='5', some_var='true'
# Use double qoutes if value contains other variable(s) and text, e.g.: some_var="https://${domain_name}:${port_number}/api"
# Don't use quotes if one valiable is just set to another variable's value, e.g.: some_var=$some_other_var
# Don't use variables of the same config file in the right side of assignment statement, only reference variables that were set in imported config files (because otherwise they may not be initialized in the moment of use).

this_file_dir=$( cd "$( dirname "${BASH_SOURCE[0]}" )" && pwd )
. $this_file_dir/deploy-main.config
. $this_file_dir/deploy-images.config

# ========= UNSORTED HEADER END =========

export PIARA_ADMIN_BASE_URL="https://${main_common_domain_name_webapp}/admin"

export PIARA_COMMON_CONTEXT_SERVER='/meridian'
export PIARA_COMMON_DOMAIN_NAME_SERVER=$main_common_domain_name_server
export PIARA_COMMON_DOMAIN_NAME_WEBAPP=$main_common_domain_name_webapp
export PIARA_COMMON_NETWORK_NAME='piara'
export PIARA_COMMON_NETWORK_TRAEFIK_EXPOSE_PORT_HTTP='80'
export PIARA_COMMON_NETWORK_TRAEFIK_EXPOSE_PORT_SSL='443'
export PIARA_COMMON_NETWORK_TRAEFIK_EXPOSE_PORT_DASHBOARD='8080'
export PIARA_COMMON_STACK_NAME='piara-front'

export PIARA_TRAEFIK_SERVER_PASS="http://back-server-core:5555/"

export PIARA_WEBAPP_APP_URL="https://${main_common_domain_name_webapp}/"
export PIARA_WEBAPP_HEADER_LABEL=$main_webapp_header_label
